<div mat-dialog-content>
    <mat-form-field appearance="fill">
      <!-- <mat-label>Favorite Animal</mat-label> -->
      <input matInput type="text" placeholder="Name">
    </mat-form-field>
   <mat-form-field appearance="fill">
      <!-- <mat-label>Favorite Animal</mat-label> -->
      <input matInput type="text" placeholder="Code">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <!-- <mat-label>Favorite Animal</mat-label> -->
      <input matInput type="text" placeholder="Length">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <!-- <mat-label>Favorite Animal</mat-label> -->
      <input matInput type="text" placeholder="Width">
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-button>Ok</button>
    <button mat-button>Cancel</button>
  </div>