<h2 mat-dialog-title>
  {{ isUpdate ? "Update" : "Create" }} Ship
  <mat-icon class="close" (click)="close()">close</mat-icon>
</h2>

<form aria-autocomplete="off" class="form" [formGroup]="shipForm">
  <div mat-dialog-content>
    <div class="field">
      <mat-form-field >
        <input matInput type="text" placeholder="Name" formControlName="name" />
      </mat-form-field>
      <span
        *ngIf="
          !shipForm.controls.name.pristine &&
          shipForm.controls.name.status === 'INVALID'
        "
        class="error"
      >
        Please enter a valid name</span
      >
    </div>

    <div class="field">
      <mat-form-field>
        <input matInput type="text" placeholder="Code" formControlName="code" />
      </mat-form-field>
      <span
        *ngIf="
          !shipForm.controls.code.pristine &&
          shipForm.controls.code.status === 'INVALID'
        "
        class="error"
      >
        Please enter a valid code (ex: AAAA-0000-A0)
      </span>
    </div>

    <div class="field">
      <mat-form-field>
        <input
          matInput
          type="text"
          placeholder="Length (m)"
          formControlName="length"
        />
      </mat-form-field>
      <span
        *ngIf="
          !shipForm.controls.length.pristine &&
          shipForm.controls.length.status === 'INVALID'
        "
        class="error"
      >
        Please enter a valid length (in meters)
      </span>
    </div>

    <div class="field">
      <mat-form-field>
        <input
          matInput
          type="text"
          placeholder="Width (m)"
          formControlName="width"
        />
      </mat-form-field>
      <span
        *ngIf="
          !shipForm.controls.width.pristine &&
          shipForm.controls.width.status === 'INVALID'
        "
        class="error"
      >
        Please enter a valid width (in meters)
      </span>
    </div>
  </div>
  <div mat-dialog-actions>
    <button class="button" id="submit" (click)="save()">
      {{ isUpdate ? "Update" : "Save" }}
    </button>
    &nbsp;
    <button class="button" (click)="close()">Cancel</button>
  </div>
</form>
