<mat-toolbar>
  <div class="toolbar">
    <mat-icon matTooltip="menu">menu</mat-icon>
    <div style="float: right; position: absolute; right: 40px">
      <mat-icon style="padding-right: 10px" matTooltip="user info"
        >person</mat-icon
      >
      <mat-icon matTooltip="settings">settings</mat-icon>
    </div>
  </div>

  <span class="header-text">Hamburg Port Consulting CRUD Application</span>
</mat-toolbar>

<ship-details></ship-details>

  <div class="footer">
  <span> &copy; Copyrights Reserved.</span>
</div>

